In [20]:
import os
import os.path as osp
import numpy as np
import pandas as pd

In [15]:
from ddf_utils.str import to_concept_id

In [4]:
source_dir = '../source'

In [5]:
os.listdir(source_dir)

['.gitignore',
 'CAIT Country CO2 Emissions.csv',
 'CAIT Country GHG Emissions.csv',
 'CAIT Country Socio-Economic Data.csv',
 'License.txt']

In [120]:
co2 = pd.read_csv(osp.join(source_dir, 'CAIT Country CO2 Emissions.csv'), header=None, encoding='latin1')
ghg = pd.read_csv(osp.join(source_dir, 'CAIT Country GHG Emissions.csv'), header=None, encoding='latin1')
soc = pd.read_csv(osp.join(source_dir, 'CAIT Country Socio-Economic Data.csv'), header=None, encoding='latin1')

In [12]:
co2.head(5)

,0,1,2
0,Cite as: CAIT Climate Data Explorer. 2017. Was...,NaN,NaN
1,Country,Year,Total CO2 Emissions Excluding Land-Use Change ...
2,Afghanistan,1850,NaN
3,Albania,1850,NaN
4,Algeria,1850,NaN

In [13]:
ghg.head(5)

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,Cite as: CAIT Climate Data Explorer. 2017. Was...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Total GHG,NaN,Emissions by Gas excluding LUCF,NaN,NaN,NaN,Emissions by Gas including LUCF,NaN,...,NaN,NaN,NaN,NaN,NaN,Emissions by Energy Sub-Sector,NaN,NaN,NaN,NaN
2,Country,Year,Total GHG Emissions Excluding Land-Use Change ...,Total GHG Emissions Including Land-Use Change ...,Total CO2 (excluding Land-Use Change and Fores...,Total CH4 (MtCO2e),Total N2O (MtCO2e),Total F-Gas (MtCO2e),Total CO2 (including Land-Use Change and Fores...,Total CH4 (including Land-Use Change and Fores...,...,Industrial Processes (MtCO2e),Agriculture (MtCO2e),Waste (MtCO2e),Land-Use Change and Forestry (MtCO2),Bunker Fuels (MtCO2),Electricity/Heat (MtCO2),Manufacturing/Construction (MtCO2),Transportation (MtCO2),Other Fuel Combustion (MtCO2e),Fugitive Emissions (MtCO2e)
3,Afghanistan,1990,15.21284765,15.21284765,2.915024,9.311588607,2.98405482,0.002180228,2.915024,9.311588607,...,0.057140228,7.3427099,4.038953624,0,NaN,NaN,NaN,NaN,NaN,1.242219903
4,Afghanistan,1991,15.28643902,15.28643902,2.684445333,9.516186524,3.082194099,0.00361306,2.684445333,9.516186524,...,0.05857306,7.6310272,4.220035859,0,NaN,NaN,NaN,NaN,NaN,1.020850897

In [14]:
soc.head(5)

,0,1,2,3,4,5
0,Cite as: CAIT Climate Data Explorer. 2017. Was...,NaN,NaN,NaN,NaN,NaN
1,Country,Year,Population (People),GDP-PPP (Million Intl$ (2011)),GDP-USD (Million US$ (2010)),Energy Use (Thous. tonnes oil eq. (ktoe))
2,Afghanistan,1960,8994793,NaN,NaN,NaN
3,Albania,1960,1608800,NaN,NaN,NaN
4,Algeria,1960,11124892,NaN,27442.86463,NaN

In [26]:
ghg.ix[2].values

array(['Country', 'Year',
       'Total GHG Emissions Excluding Land-Use Change and Forestry (MtCO2e)',
       'Total GHG Emissions Including Land-Use Change and Forestry (MtCO?e?)',
       'Total CO2 (excluding Land-Use Change and Forestry) (MtCO2)',
       'Total CH4 (MtCO2e)', 'Total N2O (MtCO2e)', 'Total F-Gas (MtCO2e)',
       'Total CO2 (including Land-Use Change and Forestry) (MtCO2)',
       'Total CH4 (including Land-Use Change and Forestry) (MtCO2e)',
       'Total N2O (including Land-Use Change and Forestry) (MtCO2e)',
       'Energy (MtCO2e)', 'Industrial Processes (MtCO2e)',
       'Agriculture (MtCO2e)', 'Waste (MtCO2e)',
       'Land-Use Change and Forestry (MtCO2)', 'Bunker Fuels (MtCO2)',
       'Electricity/Heat (MtCO2)', 'Manufacturing/Construction (MtCO2)',
       'Transportation (MtCO2)', 'Other Fuel Combustion (MtCO2e)',
       'Fugitive Emissions (MtCO2e)'], dtype=object)

In [21]:
all_concepts = np.r_[co2.ix[1], ghg.ix[2], soc.ix[1]]

In [24]:
set(all_concepts)

{'Agriculture (MtCO2e)',
 'Bunker Fuels (MtCO2)',
 'Country',
 'Electricity/Heat (MtCO2)',
 'Energy (MtCO2e)',
 'Energy Use (Thous. tonnes oil eq. (ktoe))',
 'Fugitive Emissions (MtCO2e)',
 'GDP-PPP (Million Intl$ (2011))',
 'GDP-USD (Million US$ (2010))',
 'Industrial Processes (MtCO2e)',
 'Land-Use Change and Forestry (MtCO2)',
 'Manufacturing/Construction (MtCO2)',
 'Other Fuel Combustion (MtCO2e)',
 'Population (People)',
 'Total CH4 (MtCO2e)',
 'Total CH4 (including Land-Use Change and Forestry) (MtCO2e)',
 'Total CO2 (excluding Land-Use Change and Forestry) (MtCO2)',
 'Total CO2 (including Land-Use Change and Forestry) (MtCO2)',
 'Total CO2 Emissions Excluding Land-Use Change and Forestry (MtCO2)',
 'Total F-Gas (MtCO2e)',
 'Total GHG Emissions Excluding Land-Use Change and Forestry (MtCO2e)',
 'Total GHG Emissions Including Land-Use Change and Forestry (MtCO?e?)',
 'Total N2O (MtCO2e)',
 'Total N2O (including Land-Use Change and Forestry) (MtCO2e)',
 'Transportation (MtCO2)',
 'Waste (MtCO2e)',
 'Year'}

In [28]:
ghg.ix[2].values

array(['Country', 'Year',
       'Total GHG Emissions Excluding Land-Use Change and Forestry (MtCO2e)',
       'Total GHG Emissions Including Land-Use Change and Forestry (MtCO?e?)',
       'Total CO2 (excluding Land-Use Change and Forestry) (MtCO2)',
       'Total CH4 (MtCO2e)', 'Total N2O (MtCO2e)', 'Total F-Gas (MtCO2e)',
       'Total CO2 (including Land-Use Change and Forestry) (MtCO2)',
       'Total CH4 (including Land-Use Change and Forestry) (MtCO2e)',
       'Total N2O (including Land-Use Change and Forestry) (MtCO2e)',
       'Energy (MtCO2e)', 'Industrial Processes (MtCO2e)',
       'Agriculture (MtCO2e)', 'Waste (MtCO2e)',
       'Land-Use Change and Forestry (MtCO2)', 'Bunker Fuels (MtCO2)',
       'Electricity/Heat (MtCO2)', 'Manufacturing/Construction (MtCO2)',
       'Transportation (MtCO2)', 'Other Fuel Combustion (MtCO2e)',
       'Fugitive Emissions (MtCO2e)'], dtype=object)

In [33]:
ghg.ix[2].map(to_concept_id).values

array(['country', 'year',
       'total_ghg_emissions_excluding_land_use_change_and_forestry_mtco2e',
       'total_ghg_emissions_including_land_use_change_and_forestry_mtco_e',
       'total_co2_excluding_land_use_change_and_forestry_mtco2',
       'total_ch4_mtco2e', 'total_n2o_mtco2e', 'total_f_gas_mtco2e',
       'total_co2_including_land_use_change_and_forestry_mtco2',
       'total_ch4_including_land_use_change_and_forestry_mtco2e',
       'total_n2o_including_land_use_change_and_forestry_mtco2e',
       'energy_mtco2e', 'industrial_processes_mtco2e',
       'agriculture_mtco2e', 'waste_mtco2e',
       'land_use_change_and_forestry_mtco2', 'bunker_fuels_mtco2',
       'electricity_heat_mtco2', 'manufacturing_construction_mtco2',
       'transportation_mtco2', 'other_fuel_combustion_mtco2e',
       'fugitive_emissions_mtco2e'], dtype=object)

In [57]:
# concepts

cdf = pd.DataFrame(list(set(all_concepts)), columns=['name'])

In [58]:
cdf['concept'] = cdf['name'].map(to_concept_id)

In [59]:
cdf['concept_type'] = 'measure'

In [60]:
cdf = cdf.set_index('concept')
cdf.ix['country', 'concept_type'] = 'entity_domain'
cdf.ix['year', 'concept_type'] = 'time'

In [98]:
cdf.ix['name'] = ['Name', 'string']

In [99]:
cdf.to_csv('../../ddf--concepts.csv')

In [121]:
# country

co2.columns = co2.ix[1].map(to_concept_id)

co2 = co2.ix[2:]

In [122]:
ghg.columns = ghg.ix[2].map(to_concept_id)

ghg = ghg.ix[3:]

In [123]:
soc.columns = soc.ix[1].map(to_concept_id)

soc = soc.ix[2:]

In [124]:
all_countries = np.r_[co2.country, ghg.country, soc.country]

In [125]:
country = pd.DataFrame(all_countries, columns=['name'])

In [126]:
country = country.drop_duplicates()

In [127]:
country['country'] = country.name.map(to_concept_id)

In [128]:
country.head()

                name          country
0        Afghanistan      afghanistan
1            Albania          albania
2            Algeria          algeria
3             Angola           angola
4  Antigua & Barbuda  antigua_barbuda

In [129]:
country.to_csv('../../ddf--entities--country.csv', index=False)

In [130]:
# datapoints

co2['country'] = co2['country'].map(to_concept_id)
ghg['country'] = ghg['country'].map(to_concept_id)
soc['country'] = soc['country'].map(to_concept_id)

In [131]:
co2 = co2.set_index(['country', 'year'])
ghg = ghg.set_index(['country', 'year'])
soc = soc.set_index(['country', 'year'])

In [137]:
from ddf_utils.str import format_float_sigfig, format_float_digits

In [138]:
for c in co2:
    d = co2[c].copy()
    d = d.map(lambda x: format_float_digits(x, 5))
    (d.dropna()
     .reset_index()
     .to_csv('../../ddf--datapoints--{}--by--country--year.csv'.format(c), index=False))

In [139]:
for c in ghg:
    d = ghg[c].copy()
    d = d.map(lambda x: format_float_digits(x, 5))
    (d.dropna()
     .reset_index()
     .to_csv('../../ddf--datapoints--{}--by--country--year.csv'.format(c), index=False))

In [140]:
for c in soc:
    d = soc[c].copy()
    d = d.map(lambda x: format_float_digits(x, 5))
    (d.dropna()
     .reset_index()
     .to_csv('../../ddf--datapoints--{}--by--country--year.csv'.format(c), index=False))

In [92]:
from ddf_utils.index import get_datapackage

In [135]:
_ = get_datapackage('../../', to_disk=True)

In [136]:
!validate-ddf ../../

[
{}]

In [97]:
!open ../